In [1]:
import pymongo
from pymongo import MongoClient

client = MongoClient('mongodb://nodejs:TresTRISTESTIGRESComianTrigoEnUnTrigal@production-shard-00-00-qlmse.mongodb.net:27017', ssl=True)

# Get the sampleDB database
db = client.billin_prod

In [2]:
import pandas as pd
import numpy as np

In [3]:
client.list_database_names()

['admin', 'billin_prod', 'local']

In [4]:
db.list_collection_names()

['urlshorts',
 'payments',
 'billin_migration',
 'histories',
 'metrics',
 'templates',
 'mails',
 '_migrations',
 'products',
 'estimates',
 'invoices',
 'chats',
 'invitations',
 'tutorials',
 'counters',
 'unrefinedmoves']

In [5]:
billin_prod = db.get_collection('invoices')

In [6]:
billin_prod.inv

Collection(Database(MongoClient(host=['production-shard-00-00-qlmse.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, ssl=True), 'billin_prod'), 'invoices.inv')

In [7]:
j = billin_prod.find(
   # {},
    {'status': {"$in": ['sent', 'viewed', 'charged',  'accepted', 'paid', 'rejected', 'issued']}},
    {'status': 1, 'business': 1, 'created_at': 1, 'updated_at': 1, 'historical': 1}
)

In [8]:
df =  pd.DataFrame(list(j))
df['user'] = df.apply(lambda row: row['business']['contact_id'], axis=1)

In [9]:
df['created_at_ts'] = df.created_at.astype(np.int64) // 10 ** 9
df['updated_at_ts'] = df.updated_at.astype(np.int64) // 10 ** 9

In [101]:
def issent(row):
    sent = False

    try:
        for i in row['historical']:
            #print(i['new_status'])
            try:
                if i['new_status'] == 'sent':
                    sent = True

            except KeyError as k:
                try:
                    if i['status'] == 'sent':
                        sent = True
                except KeyError as k:
                    pass
        
    except TypeError as t:
        print(row['status'])
        pass
    return sent

def lastsent(df, user):
    dfuser = df[df['user'] == user]
    concatdf = pd.DataFrame()
    for c in range(dfuser.shape[0]):
        concatdf = pd.concat([concatdf, pd.DataFrame(dfuser.iloc[c]['historical'])],sort=False)
        
    try:
        concatdf = concatdf[concatdf['status'] == 'sent'].sort_values(by='updated_at')
    except KeyError as k:
        pass
    
    try:
        last = concatdf['updated_at'].iloc[-1]
    except:
        last = np.nan
    
    return last
def lastsent2(df, user):
    temp = df[df['user'] == user].sort_values(by='updated_at_ts').reset_index()
    try:
        return temp[temp['sent'] == True].iloc[-1].loc['updated_at']
    except IndexError as i:
        #print(temp[temp['sent'] == True].shape)
        return 0
    
    
def invoices_since_sent(df, user):
    temp = df[df['user'] == user].sort_values(by='updated_at_ts').reset_index()
    try:
        return temp[temp[temp['sent'] == True].index[-1]:].shape[0] - 1
    except IndexError as i:
        #print(temp[temp['sent'] == True].shape)
        return 0

In [129]:
def getData(df, user):
    temp = df[df['user'] == user].sort_values(by='updated_at_ts').reset_index()
    try:
        last =  temp[temp['sent'] == True].iloc[-1].loc['updated_at']
    except IndexError as i:
        #print(temp[temp['sent'] == True].shape)
        last = 0
    
    try:
        i_s_s = temp[temp[temp['sent'] == True].index[-1]:].shape[0] - 1
    except IndexError as i:
        #print(temp[temp['sent'] == True].shape)
        i_s_s =  0
    
    
    return last, i_s_s, temp.business.iloc[0]['name'], temp.status.count(), temp.status[temp['sent'] == True].count()

In [14]:
#df.apply(lambda row: issent(row), axis=1).count()

187140

In [15]:
df['sent'] = df.apply(lambda row: issent(row), axis=1)

In [138]:
userdf = pd.DataFrame(index=df['user'].unique())
userdf['total_invoices'] = 0
userdf['invoices_sent'] = 0
userdf['last_sent'] = 0
userdf['not_sent_since_last'] = 0
userdf['name'] = 0
userdf.index.name = 'Contact_id'
userdf['last_sent'], userdf['not_sent_since_last'], userdf['name'], userdf['total_invoices'] , userdf['invoices_sent']  = zip(*userdf.apply(lambda row: getData(df, row.name), axis=1))
userdf.to_excel('./users.xlsx')

In [ ]:
userdf['total_invoices'] = userdf.apply(lambda row: df.status[df['user'] == row.name].count(),axis=1)

In [ ]:
userdf['invoices_sent'] = userdf.apply(lambda row: df.status[df['user'] == row.name][df['sent'] == True].count(), axis=1)

In [56]:
#userdf['last_sent'] = userdf.apply(lambda row: lastsent(df, row.name), axis=1)

In [59]:
userdf['not_sent_since_last'] = userdf.apply(lambda row: invoices_since_sent(df, row.name), axis=1)

In [64]:
userdf['last_sent'] = userdf.apply(lambda row: lastsent2(df, row.name), axis=1)

In [29]:
userdf.not_sent_since_last.unique()

array([0])

In [130]:
userdf['last_sent'], userdf['not_sent_since_last'], userdf['name'], userdf['total_invoices'] , userdf['invoices_sent']  = zip(*userdf.apply(lambda row: getData(df, row.name), axis=1))

In [23]:
df[df['user']=='f7f4fb44-24a2-4593-ad88-bf6f8ba57341'][df['status'] == 'sent'].updated_at.iloc[-1]

/home/joaquin/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

Timestamp('2017-06-05 00:08:14.040000')

In [24]:
userdf[userdf['total_invoices'] > 1].shape

(5794, 4)

In [137]:
userdf.to_excel('./users.xlsx')

In [26]:
df.head()

,_id,business,created_at,historical,status,updated_at,user,created_at_ts,updated_at_ts,sent
0,590b0c86351e881b92e4d77d,"{'id': '58f5e2a1-34a3-426c-a702-b6b00453d251',...",2017-05-04 11:12:06.698,"[{'updated_at': 2017-05-04 11:12:42.628000, 'n...",accepted,2017-05-04 11:14:50.214,1e48a363-7f82-4141-9dce-7f2fa6c9f95e,1493896326,1493896490,True
1,591f17f9f9a7fa793850e1b7,"{'id': '00cd6a6e-ffa6-404d-a6d2-f2c6cb1d4f1e',...",2017-05-19 16:06:17.646,"[{'updated_at': 2017-05-19 16:07:01.845000, 'n...",accepted,2018-07-03 12:35:23.626,91dcb1f4-9467-4d34-9709-f659d336ebf9,1495209977,1530621323,True
2,591f1ad674fc3579109e42d8,"{'id': '00cd6a6e-ffa6-404d-a6d2-f2c6cb1d4f1e',...",2017-05-19 16:18:30.561,"[{'updated_at': 2017-05-19 16:18:55.590000, 'n...",accepted,2018-07-03 12:35:18.252,91dcb1f4-9467-4d34-9709-f659d336ebf9,1495210710,1530621318,True
3,591f1e2af9a7fa793850e1bf,"{'id': '00cd6a6e-ffa6-404d-a6d2-f2c6cb1d4f1e',...",2017-05-19 16:32:42.940,"[{'updated_at': 2017-05-19 16:38:18.534000, 'n...",accepted,2018-07-03 12:35:07.109,91dcb1f4-9467-4d34-9709-f659d336ebf9,1495211562,1530621307,True
4,5922dd79f9a7fa793850e234,"{'id': 'cc0eb72f-b125-40d0-a3ee-5b87486bbc6e',...",2017-05-22 12:45:45.581,"[{'updated_at': 2017-05-22 12:51:35.573000, 'n...",accepted,2017-06-03 15:56:30.498,f7f4fb44-24a2-4593-ad88-bf6f8ba57341,1495457145,1496505390,True

In [27]:
df.created_at.astype(np.int64).iloc[0] // 10 ** 9

1493896326

In [28]:
def countsincelast(df, user):
    last = 
    
    result = __userdf[__userdf['updated_at_ts'] > last]['_id'].count()
    return result

SyntaxError: invalid syntax (<ipython-input-28-cf2591b601fa>, line 2)

In [40]:
temp = df[df['user'] == '3d8d61f0-2888-4417-a83a-0d9896dfc160'].sort_values(by='updated_at_ts').reset_index()

In [51]:
temp[temp[temp['sent'] == True].index[-1]:].shape[0]

1

In [ ]:
df[df['user'] == '3d8d61f0-2888-4417-a83a-0d9896dfc160'].sort_values(by='updated_at_ts')[df['updated_at_ts'] >= last]['_id'].count()

In [ ]:
df[df['user'] == '3d8d61f0-2888-4417-a83a-0d9896dfc160'].sort_values(by='updated_at_ts')[df['updated_at_ts'] >= df[df['user'] == '3d8d61f0-2888-4417-a83a-0d9896dfc160'].sort_values(by='updated_at_ts').iloc[-1].loc['updated_at_ts']]['_id'].count()

In [ ]:
countsincelast(df, '3d8d61f0-2888-4417-a83a-0d9896dfc160')

In [ ]:
test = df[df['user'] == '3d8d61f0-2888-4417-a83a-0d9896dfc160'].iloc[10]['historical']

In [ ]:
pd.DataFrame(test)

In [69]:
df[df['user'] == 'f7f4fb44-24a2-4593-ad88-bf6f8ba57341'].sort_values(by='updated_at')

,_id,business,created_at,historical,status,updated_at,user,created_at_ts,updated_at_ts,sent
4,5922dd79f9a7fa793850e234,"{'id': 'cc0eb72f-b125-40d0-a3ee-5b87486bbc6e',...",2017-05-22 12:45:45.581,"[{'updated_at': 2017-05-22 12:51:35.573000, 'n...",accepted,2017-06-03 15:56:30.498,f7f4fb44-24a2-4593-ad88-bf6f8ba57341,1495457145,1496505390,True
145573,5934a0020f1881088ad35843,"{'id': 'cc0eb72f-b125-40d0-a3ee-5b87486bbc6e',...",2017-06-05 00:04:18.930,"[{'updated_at': 2017-06-05 00:08:13.523000, 'n...",sent,2017-06-05 00:08:14.040,f7f4fb44-24a2-4593-ad88-bf6f8ba57341,1496621058,1496621294,True
56275,593790f3b65bf208bc55332c,"{'id': 'cc0eb72f-b125-40d0-a3ee-5b87486bbc6e',...",2017-06-07 05:36:51.788,"[{'updated_at': 2017-06-07 05:40:15.811000, 'n...",issued,2017-06-07 05:40:16.118,f7f4fb44-24a2-4593-ad88-bf6f8ba57341,1496813811,1496814016,False
56276,593792350f1881088ad35888,"{'id': 'cc0eb72f-b125-40d0-a3ee-5b87486bbc6e',...",2017-06-07 05:42:13.766,"[{'updated_at': 2017-06-07 05:44:35.749000, 'n...",issued,2017-06-07 05:44:36.000,f7f4fb44-24a2-4593-ad88-bf6f8ba57341,1496814133,1496814276,False
56333,59494a5e5988dd0ebb080c5d,"{'id': 'cc0eb72f-b125-40d0-a3ee-5b87486bbc6e',...",2017-06-20 16:16:30.342,"[{'updated_at': 2017-06-20 16:44:25.550000, 'n...",issued,2017-06-20 16:44:50.960,f7f4fb44-24a2-4593-ad88-bf6f8ba57341,1497975390,1497977090,False
56678,5972048229e3db3e12dcbfb4,"{'id': 'cc0eb72f-b125-40d0-a3ee-5b87486bbc6e',...",2017-07-21 13:41:22.698,"[{'updated_at': 2017-07-21 13:42:54.652000, 'n...",issued,2017-07-21 13:44:04.235,f7f4fb44-24a2-4593-ad88-bf6f8ba57341,1500644482,1500644644,False
56870,599b283d63ff74118ec9f21d,"{'id': 'cc0eb72f-b125-40d0-a3ee-5b87486bbc6e',...",2017-08-21 18:36:45.747,"[{'updated_at': 2017-08-21 18:37:42.209000, 'n...",issued,2017-08-21 18:37:42.467,f7f4fb44-24a2-4593-ad88-bf6f8ba57341,1503340605,1503340662,False
112726,5b06d32e4994fe2b18087834,{'contact_id': 'f7f4fb44-24a2-4593-ad88-bf6f8b...,2018-05-24 14:58:54.953,"[{'updated_at': 2018-05-24 14:58:55.391000, 'n...",issued,2018-05-24 14:58:55.400,f7f4fb44-24a2-4593-ad88-bf6f8ba57341,1527173934,1527173935,False
113783,5b0d3149cde141171e3ae8e1,{'contact_id': 'f7f4fb44-24a2-4593-ad88-bf6f8b...,2018-05-29 10:54:01.005,"[{'updated_at': 2018-05-29 10:54:01.312000, 'n...",issued,2018-05-29 10:55:20.449,f7f4fb44-24a2-4593-ad88-bf6f8ba57341,1527591241,1527591320,False
121246,5b31feed70c86e4463b6e9ca,{'contact_id': 'f7f4fb44-24a2-4593-ad88-bf6f8b...,2018-06-26 08:53:01.689,[{'business_id': 'cc0eb72f-b125-40d0-a3ee-5b87...,issued,2018-06-26 08:53:02.044,f7f4fb44-24a2-4593-ad88-bf6f8ba57341,1530003181,1530003182,False
121467,5b329fb9ccdeb94263df0cb4,{'contact_id': 'f7f4fb44-24a2-4593-ad88-bf6f8b...,2018-06-26 20:19:05.203,[{'business_id': 'cc0eb72f-b125-40d0-a3ee-5b87...,issued,2018-06-26 20:19:05.688,f7f4fb44-24a2-4593-ad88-bf6f8ba57341,1530044345,1530044345,False
123123,5b380f15a95c8d766703dc66,{'contact_id': 'f7f4fb44-24a2-4593-ad88-bf6f8b...,2018-06-30 23:15:33.508,[{'business_id': 'cc0eb72f-b125-40d0-a3ee-5b87...,issued,2018-06-30 23:15:33.854,f7f4fb44-24a2-4593-ad88-bf6f8ba57341,1530400533,1530400533,False
132743,5b586c30731aca463854366b,{'contact_id': 'f7f4fb44-24a2-4593-ad88-bf6f8b...,2018-07-25 12:25:20.112,[{'business_id': 'cc0eb72f-b125-40d0-a3ee-5b87...,issued,2018-07-26 10:02:23.190,f7f4fb44-24a2-4593-ad88-bf6f8ba57341,1532521520,1532599343,False
136589,5b64a2efab1da148ebb8c068,{'contact_id': 'f7f4fb44-24a2-4593-ad88-bf6f8b...,2018-08-03 18:46:07.828,[{'business_id': 'cc0eb72f-b125-40d0-a3ee-5b87...,issued,2018-08-03 18:46:08.180,f7f4fb44-24a2-4593-ad88-bf6f8ba57341,1533321967,1533321968,False

In [75]:
df[df['_id'] =='5b64a2efab1da148ebb8c068']

Empty DataFrame
Columns: [_id, business, created_at, historical, status, updated_at, user, created_at_ts, updated_at_ts, sent]
Index: []

In [100]:
df[df['user'] == 'f7f4fb44-24a2-4593-ad88-bf6f8ba57341'].business.iloc[-1]

{'id': 'cc0eb72f-b125-40d0-a3ee-5b87486bbc6e',
 'contact_id': 'f7f4fb44-24a2-4593-ad88-bf6f8ba57341',
 'name': 'Sara Prieto Garcia',
 'fiscal_number': '71459912Q',
 'address': {'address': 'Calle Aragon 69, 4º 2º',
  'country': 'ES',
  'city': 'Eivissa',
  'postal_code': '07800',
  'province': 'Illes Balears'}}