In [1]:
%load_ext autoreload

%autoreload 2

%matplotlib inline

In [2]:
import pymongo
from pymongo import MongoClient

client = MongoClient('mongodb://nodejs:TresTRISTESTIGRESComianTrigoEnUnTrigal@production-shard-00-00-qlmse.mongodb.net:27017', ssl=True)

# Get the sampleDB database
db = client.billin_prod

In [3]:
import pandas as pd
import numpy as np

In [4]:
client.list_database_names()

['admin', 'billin_prod', 'local']

In [5]:
invoices = db.get_collection('invoices')

In [40]:
pipeline = [
    {
      "$unwind": {
        "path": '$historical',
        "preserveNullAndEmptyArrays": True,
      },
    },

    {
      "$sort": {
        'historical.updated_at': 1,
      },
    },
    {
      "$match": {
        "$or": [
          { "historical": { "$exists": "false" } },
          {
            "$and": [
              { 'historical': { '$ne': None } },
              { 'historical.new_status': { '$ne': None } },
              { 'historical.updated_at': { '$ne': None } },
            ],
          },
        ],
      },
    },

    {
      '$group': {
        '_id': {
          '_id': '$_id',
          'updated_at': '$updated_at',
          'created_at': '$created_at',

          'from_recurrent': '$from_recurrent',
        },
        'historical': { '$push': '$historical' },
      },
    },

    {
      '$project': {
        '_id': 1,
        'historical': {
          '$arrayToObject': {
            '$map': {
              'input': '$historical',
              'as': 'pair',
              'in': ['$$pair.new_status', '$$pair.updated_at'],
            },
          },
        },
      },
    },

    {
      '$project': {
        'historical.issued': { '$ifNull': ['$historical.issued', '$historical.sent'] },
        'historical.sent': { '$ifNull': ['$historical.sent', '$historical.sent'] },
        'historical.viewed': { '$ifNull': ['$historical.viewed', '$historical.viewed'] },
      },
    }]

In [41]:
j = invoices.aggregate(pipeline=pipeline, allowDiskUse=True)

In [42]:
df =  pd.DataFrame(list(j))

OperationFailure: $arrayToObject requires an array of key-value pairs, where the key must be of type string. Found key type: null

In [43]:
df.head()

,__v,_id,account_deposit,bank_account,billing_date,business,code,contact,created_at,currency,...,template_id,total,total_to_pay,updated_at,uploaded_by_business_id,user_id,vat,vat_per_product,vat_type,version
0,0.0,58e36a106ef8a85cc40ac217,NaN,NaN,2017-04-04 09:40:32.653000,"{'id': '6d30d9c1-45e8-4c4d-a7cc-1a6d09c217f1',...",2017F001,"{'id': 'a4d259a6-557c-4471-9dec-e09b3a48f219',...",2017-04-04 09:40:32.664,EUR,...,58e368146ef8a85cc40ac216,0.0,0.0,2017-04-04 09:40:32.664,NaN,cbc293b9-1f2f-4f7a-ac7a-1a9241b3dcb4,0.0,NaN,NaN,NaN
1,0.0,58e36b806ef8a85cc40ac218,NaN,NaN,2017-04-04 09:46:40.908000,"{'id': '6d30d9c1-45e8-4c4d-a7cc-1a6d09c217f1',...",2017F001,"{'id': 'a4d259a6-557c-4471-9dec-e09b3a48f219',...",2017-04-04 09:46:40.917,EUR,...,58e368146ef8a85cc40ac216,0.0,0.0,2017-04-04 09:46:40.917,NaN,cbc293b9-1f2f-4f7a-ac7a-1a9241b3dcb4,0.0,NaN,NaN,NaN
2,0.0,58e4ed80898b1a339eaac03b,NaN,NaN,2017-04-05 13:13:36.637000,"{'id': '277fde35-e825-4bc7-b100-3ec3abeebab1',...",2017F003,"{'id': 'f00fede0-df21-4d21-b4d2-bb5ee4c5c2be',...",2017-04-05 13:13:36.648,EUR,...,58e4979738e33633cd8fedf1,0.0,0.0,2017-04-05 13:13:36.648,NaN,8bb76ade-ca77-4b55-a5bc-af2423a90a29,0.0,NaN,NaN,NaN
3,0.0,58e4ee8062cc6133a44b1463,NaN,NaN,2017-04-05 13:17:52.305000,"{'id': '277fde35-e825-4bc7-b100-3ec3abeebab1',...",2017F003,"{'id': 'f00fede0-df21-4d21-b4d2-bb5ee4c5c2be',...",2017-04-05 13:17:52.311,EUR,...,58e4979738e33633cd8fedf1,0.0,0.0,2017-04-05 13:17:52.311,NaN,8bb76ade-ca77-4b55-a5bc-af2423a90a29,0.0,NaN,NaN,NaN
4,0.0,58e76fd8b0ed624891bdc3f5,NaN,NaN,2017-04-07 10:54:16.792000,"{'id': 'a3979bfb-df84-47b2-a896-c280e3db1084',...",2017F005,"{'id': '6886988c-2224-4292-abc1-ada127020e52',...",2017-04-07 10:54:16.813,EUR,...,58e76e9b6bf0834858d6e013,0.0,0.0,2017-04-07 11:14:02.714,NaN,6318b65c-a57d-43cd-a3d3-e3bbd8225312,0.0,NaN,NaN,NaN